#landing {
    width: 100%;
    height: 100%;
    position: relative;
    #loader {
        display: none !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        background-color: $color-white;
        z-index: 200;
    }
    #header {
        z-index: 200;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0 auto;
        transition: background-color 0.3s ease-in;
        padding: 0 50px;
        box-sizing: border-box;
        .header-button {
            padding: 25px;
            box-sizing: border-box;
            font-size: $header-button-font-size;
            text-shadow: 0 0 1px $color-white, 0 0 1px $color-white,
                0 0 1px $color-white, 0 0 1px $color-white;
        }
        .header-inner {
            @include flexbox();
            @include justify-content(space-between);
            @include align-items(flex-start);
            width: 100%;
            max-width: 2000px;
            margin: 0 auto;
            .header-inner-left {
                padding: 25px 0;
                box-sizing: border-box;
            }
        }
    }
    #main {
        height: calc(100vh + 100px);
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0 100%);
        @include flexbox();
        .main-left,
        .main-right {
            width: 50vw;
            height: 100%;
        }
        .main-left {
            background-image: url("../../assets/patryk-eyes-up.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .main-right {
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);
            background-color: $color-white;
            padding: 150px;
            box-sizing: border-box;
            .main-content {
                text-align: center;
                font-size: $main-content-font-size;
            }
            .main-or {
                font-size: $main-or-font-size;
                text-transform: uppercase;
                font-weight: 800;
                padding: 50px 0;
                box-sizing: border-box;
            }
        }
    }
    #about {
        height: calc(100vh + 100px);
        clip-path: polygon(0 100px, 100% 0, 100% calc(100% - 100px), 0 100%);
        @include flexbox();
        transform: translateY(-100px);
        color: $color-white;
        .about-left,
        .about-right {
            width: 50vw;
            height: 100%;
        }
        .about-left {
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(flex-end);
            background-color: $color-black;
            padding: 150px;
            box-sizing: border-box;
            .about-title {
                text-transform: uppercase;
                font-weight: 800;
                font-size: $about-title-font-size;
            }
            .about-content {
                font-weight: 300;
                font-size: $about-content-font-size;
            }
        }
        .about-right {
            background-image: url("../../assets/patryk-standing.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}