@media only screen and (max-width: 900px) {
    #landing {
        #header {
            display: none;
        }
        #mobile-logo {
            display: block;
        }
        #mobile-menu {
            // @include flexbox();
        }
        #mobile-linkedin {
            @include flexbox();
        }
        #landing-content {
            #main {
                @include flex-direction(column);
                .main-left,
                .main-right {
                    width: 100vw;
                    min-height: 50vh;
                }
            }
            #about {
                @include flex-direction(column);
                .about-left,
                .about-right {
                    width: 100vw;
                }
                .about-left {
                    order: 1;
                }
                .about-right {
                    order: 0;
                    height: 80vh;
                }
            }
            #how-i-work {
                @include flex-direction(column);
                .how-i-work-left,
                .how-i-work-right {
                    width: 100vw;
                    height: 100%;
                }

                .how-i-work-left {
                    margin-bottom: 100px;
                    .how-i-work-or,
                    .contact-me {
                        display: none;
                    }
                }
            }
            #product-faq {
                .product-faq-buttons {
                    .product-faq-button {
                        width: 100%;
                    }
                }
            }
        }
        &.menu-open {
            #mobile-menu-list{
                opacity: 1;
            }
            #mobile-linkedin {
                opacity: 0;
                bottom: -100px;
            }
            #mobile-menu{
                .mobile-menu-bar-1{
                    opacity: 0;
                    transform: rotate(-45deg) translate(-9px, 16px);
                }
                .mobile-menu-bar-2{
                    transform: rotate(-45deg) translateY(10px);
                }
                .mobile-menu-bar-3{
                    transform: rotate(45deg) translateY(-10px);
                }
            }
            #landing-content {
                transform: translateX(100vw);
            }
        }
    }
}
