@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;800&display=swap');

$color-white: #ffffff;
$color-black: #000000;

$font-1: 'Open Sans', sans-serif;

$header-button-font-size: 16px;
$contact-me-button-font-size: 20px;
$main-content-font-size: 25px;
$main-or-font-size: 10px;
$about-title-font-size: 40px;
$about-content-font-size: 14px;